attrs==21.4.0
blinker==1.4
click==7.1.2
Flask==2.3.2
Flask-Navigation==0.2.0
importlib-metadata==1.7.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
Markdown==3.2.2
MarkupSafe==1.1.1
packaging==21.3
pkg-resources==0.0.0
pluggy==1.0.0
py==1.11.0
Pygments==2.7.4
pyparsing==3.0.7
pytest==7.0.1
tomli==1.2.3
Werkzeug==1.0.1
zipp==3.1.0
