{% extends "layout.html" %}

{% block content %}
  <div class="text-center">
    <h1>
      Hello World!
    </h1>

    <hr>

    <p>
      This is a simple demo application in Flask. Take a look at the code on <a href="https://github.com/bdjohnson529/flask-template.git" target="_blank">Github!</a>
    </p>

    <img src="{{ url_for('static', filename='img/mountain.jpg') }}"></img>


    <form action="/count" method = "POST">
      <p>Please enter a string. </p>
      <p><input type = "text" name = "String" /></p>
      <p><input type = "submit" value = "Submit" /></p>
    </form>
  </div>

{% endblock %}